body{
    margin-top: 70px;
 }
 /* Custom navbar style */
 .navbar-static-top {
    margin-bottom: 19px;
 }
 .navbar-default .navbar-nav>li>a {
    cursor: pointer;
 }
 /* Textarea not resizeable */
 textarea {
    resize:none
 }
 
 footer p{
   text-align: center;
   padding-top: 10px;
 }
 
 body {
     font-family: 'Open Sans', sans-serif;
 }
 
 .fb-profile img.fb-image-lg{
     z-index: 0;
     width: 100%; 
     margin-bottom: 10px;
 }
 
 .fb-image-profile {
     margin: -90px 10px 0px 50px;
     z-index: 9;
     width: 13%; 
 }
 
 @media (max-width:768px) {
     
 .fb-profile-text>h1{
     font-weight: 700;
     font-size:16px;
 }
 
 .fb-image-profile
 {
     margin: -45px 10px 0px 25px;
     z-index: 9;
     width: 25%; 
 }
 }
 
 body{
     margin-top:10px;
     background: #e0e0e0;
 }
 
 .update-nag{
   display: inline-block;
   font-size: 14px;
   text-align: left;
   background-color: #fff;
   height: 40px;
   -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
   box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
   margin-bottom: 10px;
 }
 
 .update-nag:hover{
     cursor: pointer;
     -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.4);
   box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
 }
 
 .update-nag > .update-split{
   background: #337ab7;
   width: 33px;
   float: left;
   color: #fff!important;
   height: 100%;
   text-align: center;
 }
 
 .update-nag > .update-split > .glyphicon{
   position:relative;
   top: calc(50% - 9px)!important; /* 50% - 3/4 of icon height */
 }
 .update-nag > .update-split.update-success{
   background: #5cb85c!important;
 }
 
 .update-nag > .update-split.update-danger{
   background: #d9534f!important;
 }
 
 .update-nag > .update-split.update-info{
   background: #5bc0de!important;
 }
 
 
 
 .update-nag > .update-text{
   line-height: 19px;
   padding-top: 11px;
   padding-left: 45px;
   padding-right: 20px;
 }
 
 .loginBtn {
   box-sizing: border-box;
   position: relative;
   /* width: 13em;  - apply for fixed size */
   margin: 0.2em;
   padding: 0 15px 0 46px;
   border: none;
   text-align: left;
   line-height: 34px;
   white-space: nowrap;
   border-radius: 0.2em;
   font-size: 16px;
   color: #FFF;
 }
 .loginBtn:before {
   content: "";
   box-sizing: border-box;
   position: absolute;
   top: 0;
   left: 0;
   width: 34px;
   height: 100%;
 }
 .loginBtn:focus {
   outline: none;
 }
 .loginBtn:active {
   box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
 }
 
 
 /* Facebook */
 .loginBtn--facebook {
   background-color: #4C69BA;
   background-image: linear-gradient(#4C69BA, #3B55A0);
   /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
   text-shadow: 0 -1px 0 #354C8C;
 }
 .loginBtn--facebook:before {
   border-right: #364e92 1px solid;
   background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
 }
 .loginBtn--facebook:hover,
 .loginBtn--facebook:focus {
   background-color: #5B7BD5;
   background-image: linear-gradient(#5B7BD5, #4864B1);
 }
 
 .postBtn {
   box-sizing: border-box;
   position: center;
   /* width: 13em;  - apply for fixed size */
   margin: 0.2em;
   border: none;
   text-align: center;
   line-height: 34px;
   white-space: nowrap;
   border-radius: 0.2em;
   font-size: 16px;
   color: #FFF;
 }
 .postBtn:before {
   content: "";
   box-sizing: border-box;
   position: absolute;
   top: 0;
   left: 0;
   width: 34px;
   height: 100%;
 }
 .postBtn:focus {
   outline: none;
 }
 .postBtn:active {
   box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
 }
 
 /* Facebook */
 .postBtn--posting {
   background-color: #4C69BA;
   background-image: linear-gradient(#4C69BA, #3B55A0);
   /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
   text-shadow: 0 -1px 0 #354C8C;
 }
 .postBtn--posting:hover,
 .postBtn--posting:focus {
   background-color: #5B7BD5;
   background-image: linear-gradient(#5B7BD5, #4864B1);
 }
 
 .exit-btn:after {
     content: '';
     position: absolute;
     z-index: -1;
     -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     transition: all 0.3s;
 }
 .exit-btn { 
     border: none;
     font-family: inherit;
     font-size: inherit;
     color: inherit;
     background: none;
     cursor: pointer;
     padding: 25px 80px;
     display: inline-block;
     margin: 15px 30px;
     text-transform: uppercase;
     letter-spacing: 1px;
     font-weight: 700;
     outline: none;
     position: relative;
     -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     transition: all 0.3s; 
     margin-left: 250px;
 }
 
 .exit-btn-3 {
     background-color: #282F8A;
     color: #fff;
     border-radius: 7px;
     box-shadow: 0 5px #202670;
     padding: 25px 60px 25px 90px;
 }
 
 .exit-btn-3:before {
     position: absolute;
     left: 0;
     width: 40%;
     font-size: 160%;
     line-height: 0.8;
     color: #fff;
     content: "\e163";
     font-family: 'Glyphicons Halflings';
 }
 