{% extends "lab_4/layout/base.html" %}

    {% block content %}
    <h1>Let me show you some of my work</h1>
    <img src="https://pbs.twimg.com/media/DKpIKAmVwAEX3EC.jpg" style = "border-radius : 250px ; height : 250px;" alt="Mountain View" style="width:304px;height:228px;">
    <hr/>
    <section name="bio">
        <h2>Bio</h2>
        <p>
            {{content}}
        </p>    
    </section>
    <hr/>
    <section name="about_me">
        <h2>List</h2>
        <ul>
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
    <section name="form">
        <h2>Send Message</h2>
        
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>





    {% endblock %}
