{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
        font-family:"Abril Fatface";
        text-align:justify;
    }
</style>
<div class="center_screen">
    <h3 style="text-align: center">Hello, this is {{ name }}.</h3>
    <p class="status" style="color: #055E45"id="test">{{ content }}.</p>
</div>

      
{% endblock %}